 {% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'img/about.jpg' %});">
        <div class="auto-container">
            <h1>About Us</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home </a></li>
                <li>About Us</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!--About Section-->
    <section class="about-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h4 class="title">About Us</h4>
                <h2>Welcome To Hubli</h2>
            </div>
            <div class="row clearfix">
            
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-box">
                        <!-- <h3>Leverage agile frameworks to provide a robust synopsis for high level overviews. <a href="#">Iterative approaches to corporate</a></h3>
                         <p>strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                         <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from</p> -->
                         <!--Accordion Box-->
                        <ul class="accordion-box">
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn"><div class="icon-outer"><span class="icon fa fa-angle-right"></span></div>Our Mission</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>To make sustainable, agricultural technology more accessible to communities affected by food insecurity.</p>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn"><div class="icon-outer"><span class="icon fa fa-angle-right"></span></div>Our vision</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>The Urban Wild will foster a new generation of community farmers who will use sustainable, agricultural technological methods to reduce food insecurity in underserved communities.
                                        <br>Together, we will create an alternative food infrastructure that ensures access to food is universally sufficient, safe, affordable, and nutritious.</p>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn"><div class="icon-outer"><span class="icon fa fa-angle-right"></span></div>Our Theory of Change</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <img src="https://ibb.co/jUBCvU">
                                    </div>
                                </div>
                            </li>
                        </ul><!--End Accordion Box-->   
                    </div>
                </div>
                
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                    <div class="image wow fadeInRight" data-wow-duration="1500ms">
                        <figure class="image-1"><img src="https://via.placeholder.com/350x150" alt=""></figure>
                        <figure class="image-2"><img src="https://i.ytimg.com/vi/PXGrRn3nlak/maxresdefault.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About Section-->
    
    <!-- Volunteer Section -->  
    <section class="volunteer-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h3 class="title">Projects</h3>
                <h2>The Team</h2>
                
            </div>

            <div class="volunteer-carousel owl-carousel owl-theme">

                <!--Volunteer Member-->
                <div class="volunteer-member">
                    <div class="inner-box clearfix">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'img/sam.jpg' %}" alt=""></figure>
                        </div>
                        <div class="info-box">
                            <h3 class="name">Samia Lemfadli</h3>
                            <span class="desingnation">Ceo/Co-Founder</span>
                            <p>...</p>
                            <ul class="social-icon-two clearfix">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Volunteer Member-->
                <div class="volunteer-member">
                    <div class="inner-box clearfix">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'img/jan.jpg' %}" alt=""></figure>
                        </div>
                        <div class="info-box">
                            <h3 class="name">Janitza Medina</h3>
                            <span class="desingnation">Ceo/Co-Founder</span>
                            <p>...</p>
                            <ul class="social-icon-two clearfix">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Volunteer Member-->
                <div class="volunteer-member">
                    <div class="inner-box clearfix">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'img/nadia.jpg' %}" alt=""></figure>
                        </div>
                        <div class="info-box">
                            <h3 class="name">Nadia Carmon</h3>
                            <span class="desingnation">Digital Marketing Manager</span>
                            <p>Nadia Carmon is a Web Development and Digital Content Strategist known for her work with the Digital Branding Institute; Where her most popular article, “How to Use Small Business Hashtags to Promote Your Brand” has been shared 554 times. She is also the founder of Wet Ink Press Co - An indie art & tech branding company that merges front-end development, visual branding and content marketing strategies to help brands tell their stories. From 2014-2015 she was a LSAMP-NSF (National Science Foundation) Research Assistant in 3 labs at Herbert J. Lehman College; including one which conducted research on the uptake of the toxic element cadmium in the food staple Durum wheat, and another focused on population diversity in East Africa.</p>
                            <ul class="social-icon-two clearfix">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Volunteer Member-->
                <div class="volunteer-member">
                    <div class="inner-box clearfix">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'img/paul.png' %}" alt=""></figure>
                        </div>
                        <div class="info-box">
                            <h3 class="name">Paul Philpott</h3>
                            <span class="desingnation">Program Manager</span>
                            <p>...</p>
                            <ul class="social-icon-two clearfix">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Volunteer Member-->
                <div class="volunteer-member">
                    <div class="inner-box clearfix">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'img/luis.jpg' %}" alt=""></figure>
                        </div>
                        <div class="info-box">
                            <h3 class="name">Luis Novoa</h3>
                            <span class="desingnation">Volunteer</span>
                            <p>...</p>
                            <ul class="social-icon-two clearfix">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Volunteer Member-->
                <div class="volunteer-member">
                    <div class="inner-box clearfix">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'img/cody.png' %}" alt=""></figure>
                        </div>
                        <div class="info-box">
                            <h3 class="name">Cody Parker</h3>
                            <span class="desingnation">Aquaponics Consultant</span>
                            <p>...</p>
                            <ul class="social-icon-two clearfix">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- End Volunteer Section -->

    <!-- Testimonial Section -->
    <section class="testimonial-section style-two">
        <div class="auto-container">
            <div class="testimonial-carousel owl-carousel owl-theme">
                <!-- Slide item -->
                <div class="slide-item">
                    <div class="name"> “Just one square metre gives you more yield than in one acre of land. That’s an ideal system for a developing country. [It] will produce up to 300 cucumbers a year.… A system like that can supply a family with fresh vegetables and with vitamins and also with protein”</div>
                    <p>Dr. Nick Savidov, Aquaponics researcher and leader at the Aquaculture Centre of Excellence at Lethbridge College
                    </p>
                    <!-- <span class="icon flaticon-right-quotation-sign"></span> -->
                </div>

                <!-- Slide item -->
                <div class="slide-item">
                    <div class="name">“[Plants] grow extremely rapidly because they have all the nutrients and water they need. It’s much better than field production because in the soil, you have insects and not enough water or nutrients.”
                </div>
                    <p>Dr. James Rakocy, “Father of Aquaponics,” and former professor at the University of the Virgin Islands</p>
                    <!-- <span class="icon flaticon-right-quotation-sign"></span> -->
                </div>


            </div>
        </div>
    </section>
    <!-- End Testimonials -->

{% endblock %}
