{% extends 'base.html' %}
{% load static %}
{% block body_block %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/5.jpg);">
        <div class="auto-container">
            <h1>Donate Now</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home </a></li>
                <li>Donate Now</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!--Donate Section-->
    <section class="donate-section">
        <div class="auto-container">
            <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/donate-to-the-urban-wild?show_content=true" height="685px" width="100%" style="max-width:100%; min-width:100%; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
        </div>
    </section>
    <!--End Donate Section-->
    
    <!-- Volunteer Section -->  
    <section class="volunteer-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h3 class="title">Projects</h3>
                <h2>Our volunteers</h2>
                
            </div>

            <div class="volunteer-carousel owl-carousel owl-theme">

                <!--Volunteer Member-->
                <div class="volunteer-member">
                    <div class="inner-box clearfix">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/volunteer-1.jpg" alt=""></figure>
                        </div>
                        <div class="info-box">
                            <h3 class="name">Elina Bell</h3>
                            <span class="desingnation">Co-ordinator</span>
                            <p>If you are going to passage of Lorem Ipsum, you need to be sure there isn’t anything the hidden in the middle </p>
                            <ul class="social-icon-two clearfix">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Volunteer Member-->
                <div class="volunteer-member">
                    <div class="inner-box clearfix">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/volunteer-2.jpg" alt=""></figure>
                        </div>
                        <div class="info-box">
                            <h3 class="name">John Smith</h3>
                            <span class="desingnation">Manager</span>
                            <p>If you are going to passage of Lorem Ipsum, you need to be sure there isn’t anything the hidden in the middle </p>
                            <ul class="social-icon-two clearfix">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Volunteer Member-->
                <div class="volunteer-member">
                    <div class="inner-box clearfix">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/volunteer-1.jpg" alt=""></figure>
                        </div>
                        <div class="info-box">
                            <h3 class="name">Elina Bell</h3>
                            <span class="desingnation">Co-ordinator</span>
                            <p>If you are going to passage of Lorem Ipsum, you need to be sure there isn’t anything the hidden in the middle </p>
                            <ul class="social-icon-two clearfix">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Volunteer Member-->
                <div class="volunteer-member">
                    <div class="inner-box clearfix">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/volunteer-2.jpg" alt=""></figure>
                        </div>
                        <div class="info-box">
                            <h3 class="name">John Smith</h3>
                            <span class="desingnation">Manager</span>
                            <p>If you are going to passage of Lorem Ipsum, you need to be sure there isn’t anything the hidden in the middle </p>
                            <ul class="social-icon-two clearfix">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Volunteer Member-->
                <div class="volunteer-member">
                    <div class="inner-box clearfix">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/volunteer-1.jpg" alt=""></figure>
                        </div>
                        <div class="info-box">
                            <h3 class="name">Elina Bell</h3>
                            <span class="desingnation">Co-ordinator</span>
                            <p>If you are going to passage of Lorem Ipsum, you need to be sure there isn’t anything the hidden in the middle </p>
                            <ul class="social-icon-two clearfix">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Volunteer Member-->
                <div class="volunteer-member">
                    <div class="inner-box clearfix">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/volunteer-2.jpg" alt=""></figure>
                        </div>
                        <div class="info-box">
                            <h3 class="name">John Smith</h3>
                            <span class="desingnation">Manager</span>
                            <p>If you are going to passage of Lorem Ipsum, you need to be sure there isn’t anything the hidden in the middle </p>
                            <ul class="social-icon-two clearfix">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- End Volunteer Section -->

    <!--Clients Section-->
    <section class="clients-section">            
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
            </ul>
        </div>
    </section>
    <!--End Clients Section-->

{% endblock %}
