{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    
    <!--Main Slider-->
    <section class="main-slider style-two">
        <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_two_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_two" data-version="5.4.1">
                <ul>
                    <!-- Slide 1 -->
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1667" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/2.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                        
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/main-slider/2.jpg"> 
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="auto"
                        data-textalign="center"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['340','240','200','200']"
                        data-x="['center','center','center','center']"
                        data-y="['top','top','top','top']"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                           <h1 class="title">WATER SCARCITY</h1>
                        </div>

                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-fontsize="['64','40','36','24']"
                        data-width="auto"
                        data-textalign="center"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['420','320','280','280']"
                        data-x="['center','center','center','center']"
                        data-y="['top','top','top','top']"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <h2>By 2025, an estimated 1.8 billion will be in a water scarce state, but we can use closed-loop agricultural systems that use 90% less water.</h2>
                        </div>
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="auto"
                        data-textalign="center"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['520','450','410','390']"
                        data-x="['center','center','center','center']"
                        data-y="['top','top','top','top']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        
                        </div>
                    </li>

                    <!-- Slide 1 -->
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1668" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/2.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                        
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/main-slider/3.jpg"> 
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="auto"
                        data-textalign="center"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['340','240','200','200']"
                        data-x="['center','center','center','center']"
                        data-y="['top','top','top','top']"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                           <h1 class="title">FOOD SCARCITY</h1>
                        </div>

                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-fontsize="['64','40','36','24']"
                        data-width="auto"
                        data-textalign="center"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['420','320','280','280']"
                        data-x="['center','center','center','center']"
                        data-y="['top','top','top','top']"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <h2>Our current food infrastructure has<br>
                            left 1 in 9 people in a state of food scarcity but with 
                            <br>scalable, biomimicry systems we can produce 4x the yield 
                            <br>without the use of chemicals, hormones or pesticides.</h2>
                        </div>
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="auto"
                        data-textalign="center"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['520','450','410','390']"
                        data-x="['center','center','center','center']"
                        data-y="['top','top','top','top']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
 
                        </div>
                    </li>

                    <!-- Slide 1 -->
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1669" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/2.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                        
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/main-slider/4.jpg"> 
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="auto"
                        data-textalign="center"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['340','240','200','200']"
                        data-x="['center','center','center','center']"
                        data-y="['top','top','top','top']"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                           <h1 class="title">TECHNOLOGY CONVERGENCE</h1>
                        </div>

                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-fontsize="['64','40','36','24']"
                        data-width="auto"
                        data-textalign="center"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['420','320','280','280']"
                        data-x="['center','center','center','center']"
                        data-y="['top','top','top','top']"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <h2> Using intergrated, closed-loop systems like aquaponics, we can produce safe and sufficient food systems that have less environmental impact than outdated food systems like pesticide-ridden monocultures and disease-ridden fish farms.</h2>
                        </div>
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="auto"
                        data-textalign="center"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['520','450','410','390']"
                        data-x="['center','center','center','center']"
                        data-y="['top','top','top','top']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>

                        </div>
                    </li>                   
                </ul>
            </div>
        </div>
    </section>
    <!--End Main Slider-->

    <!-- Work Section -->
    <section class="work-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h4 class="title">Our Work</h4>
                <h2>What We Are Doing</h2>
                <div class="separator"><span class="flaticon-nature"></span></div>
            </div>

            <div class="row clearfix">
                <div class="left-column col-md-4 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="work-block">
                            <div class="inner">
                                <img src="images/icons/wind-2.png" alt="" class="icon">
                                <h4><a href="#">EDUCATIONAL PROGRAMS</a></h4>
                                <p>
       Partner with CBOs to host community programs

Launch sustainability
& agricultural technology initiatives in public schools and online

Develop school-based training programs to plug graduates into agtech job roles </p>
                                <a href="#" class="read-more">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class=" col-md-4 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="work-block">
                            <div class="inner">
                                <img src="images/icons/save-2.png" alt="" class="icon">
                                <h4><a href="#">COMMUNITY CENTRIC GREENSPACES</a></h4>
                                <p>
       Workshop series - Local Community Gardens
Secure vacant lots to launch community centric green space(s) model
Provide supplemental emergency resources to families battling food scarcity

</p>
                                <a href="#" class="read-more">Learn More</a>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class=" col-md-4 col-sm-12 col-xs-12">
                     <div class="inner-column">
                    <div class="work-block">
                        <div class="inner">
                            <img src="images/icons/water-2.png" alt="" class="icon">
                            <h4><a href="#">REVENUE GENREATING URBAN FARMS</a></h4>
                            <p>
       Raise awareness of agtech advantages through global agriculture networks

Connect farmers with financing resources to fund implementation stage

Assist farmers with piloting greenhouses and converting to sustainable business model </p>
                            <a href="#" class="read-more">Learn More</a>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Work Section -->
    
    <!--About Section-->
    <section class="about-section style-two">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Column-->
                <div class="content-column pull-right col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-box">
                        <div class="sec-title">
                            <h4 class="title">About Us</h4>
                            <h2>Join Us for our <br>  Debut Event! </h2>
                            <div class="separator"><span class="flaticon-nature"></span></div>
                        </div>
                        <p>Event INFO</p>
                        <p>RSVP Here: Link</p>
                        <a href="donate.html" class="theme-btn btn-style-two">Donate now</a>
                    </div>
                </div>
                
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-box">
                        <div class="image wow fadeInRight" data-wow-duration="1500ms">
                            <figure class="image"><img src="images/resource/image-2.jpg" alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About Section-->


    <!-- Testimonial Section -->
    <section class="testimonial-section style-two">
        <div class="auto-container">
            <div class="testimonial-carousel owl-carousel owl-theme">
                <!-- Slide item -->
                <div class="slide-item">
                    <div class="name"> “Just one square metre gives you more yield than in one acre of land. That’s an ideal system for a developing country. [It] will produce up to 300 cucumbers a year.… A system like that can supply a family with fresh vegetables and with vitamins and also with protein”</div>
                    <p>Dr. Nick Savidov, Aquaponics researcher and leader at the Aquaculture Centre of Excellence at Lethbridge College
                    </p>
                    <span class="icon flaticon-right-quotation-sign"></span>
                </div>

                <!-- Slide item -->
                <div class="slide-item">
                    <div class="name">“[Plants] grow extremely rapidly because they have all the nutrients and water they need. It’s much better than field production because in the soil, you have insects and not enough water or nutrients.”
                </div>
                    <p>Dr. James Rakocy, “Father of Aquaponics,” and former professor at the University of the Virgin Islands</p>
                    <span class="icon flaticon-right-quotation-sign"></span>
                </div>

                <!-- Slide item -->
                <div class="slide-item">
                    <div class="name">John Parker</div>
                    <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards offshoring.everage agile frameworks to provide a robust </p>
                    <span class="icon flaticon-right-quotation-sign"></span>
                </div>


            </div>
        </div>
    </section>
    <!-- End Testimonials -->

    <!--Clients Section-->
    <section class="clients-section">            
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
            </ul>
        </div>
    </section>
    <!--End Clients Section-->

{% endblock %}