{% extends 'base.html' %}
{% load static %}
{% block body_block %}









<!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/12.jpg);">
        <div class="auto-container">
            <h1>Contact Us</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li> 
                <li>Contact Us</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Contactn Page Section-->
    <section class="contact-page-section">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Column-->
                <div class="form-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <h3>Get in touch</h3>
                        <p>Consectetur adipiscing elit. Pellentesque lobortis, nisl at ullamcorper egestas, felis tortor adipiscing dolor, a interdum lorem urna quis magna. Integer eget arcu Integer eget arcu sit amet Integer commodo.</p>
                        <!-- Contact Form -->
                        <div class="contact-form">
                            <!--Contact Form-->
                            <form method="post" action="sendemail.php" id="contact-form">
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                        <input type="text" name="username" placeholder="Name" required>
                                    </div>
                                    
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                        <input type="email" name="email" placeholder="Email" required>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                        <input type="text" name="subject" placeholder="Subject" required>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <textarea name="message" placeholder="Leave a Message..."></textarea>
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <button type="submit" class="theme-btn btn-style-two">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End Contact Form -->
                    </div>
                </div>
                    
                <!--Column-->
                <div class="info-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <!--Map Section-->
                        <div class="map-area">
                            <!--Map Outer-->
                            <div class="map-outer">
                                <!--Map Canvas-->
                                <div class="map-canvas"
                                    data-zoom="12"
                                    data-lat="-37.817085"
                                    data-lng="144.955631"
                                    data-type="roadmap"
                                    data-hue="#ffc400"
                                    data-title="Envato"
                                    data-icon-path="images/icons/map-marker.png"
                                    data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                                </div>
                            </div>
                        </div>
                        <!--End Map Section-->
                        <div class="contact-info">
                            <div class="row clearfix">
                                <div class="column col-md-6 col-sm-6 col-xs-12">
                                    <h4>Address</h4>
                                    <p>2901 First Floor Marmora road, Glassgow, Seattle, WA 9812</p>
                                </div>
                                <div class="column col-md-6 col-sm-6 col-xs-12">
                                    <h4>Phone No</h4>
                                    <p>+(01) 321 654 809</p>
                                    <p>+(01) 321 654 870</p>
                                </div>
                                <div class="column col-md-6 col-sm-6 col-xs-12">
                                    <h4>Email</h4>
                                    <p>Supportinfo@gogreen.com</p>
                                    <p>info@hubilgogreen.com</p>
                                </div>  
                                <div class="column col-md-6 col-sm-6 col-xs-12">
                                    <h4>Social Media</h4>
                                    <ul class="social-icon clearfix">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <!--End Services Section-->

{% endblock %}