{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<!--Page Title-->
    <section class="page-title" style="background-image:url(https://i.ytimg.com/vi/PXGrRn3nlak/maxresdefault.jpg);">
        <div class="auto-container">
            <h1>Our Blog</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home </a></li>
                <li>Blog</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="blog-standard">
                        <!-- News Block -->
                        <div class="news-block-three">
                            <div class="image-box">
                                <figure class="image"><a href="blog-detail.html"><img src="https://i.ytimg.com/vi/PXGrRn3nlak/maxresdefault.jpg" alt=""></a></figure>
                            </div>
                            <div class="lower-content">
                                <div class="inner-box">
                                    <ul class="info-list">
                                        <li>TBA</li>
                                    </ul>
                                    <h2>FOOD INFRASTRUCTURE IN INDIA (CHILD SLAVERY CONNECTION)</h2>
                                    <h3><a href="blog-detail.html">Coming Soon</p>
                                </div>
                            </div>
                        </div>
                        <!-- News Block -->
                        <div class="news-block-three">
                            <div class="image-box">
                                <figure class="image"><a href="blog-detail.html"><img src="https://i.ytimg.com/vi/PXGrRn3nlak/maxresdefault.jpg" alt=""></a></figure>
                            </div>
                            <div class="lower-content">
                                <div class="inner-box">
                                    <ul class="info-list">
                                        <li>TBA</li>
                                    </ul>
                                    <h2>OPPORTUNITY FOR KENYA TO ADOPT AG-TECH (DROUGHT IMPACT ON FARMERS)</h2>
                                    <h3><a href="blog-detail.html">Coming Soon</p>
                                </div>
                            </div>
                        </div>
                        <!-- News Block -->
                        <div class="news-block-three">
                            <div class="image-box">
                                <figure class="image"><a href="blog-detail.html"><img src="https://i.ytimg.com/vi/PXGrRn3nlak/maxresdefault.jpg" alt=""></a></figure>
                            </div>
                            <div class="lower-content">
                                <div class="inner-box">
                                    <ul class="info-list">
                                        <li>TBA</li>
                                    </ul>
                                    <h2>EXPERIENCE PILOTING AG-TECH EDU PROGRAM IN BROOKLYN (NEEDS ASSESSMENT FOR AG-TECH IN NY)</h2>
                                    <h3><a href="blog-detail.html">Coming Soon</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar default-sidebar">

                        <!-- Subscribe Widget -->
                        <div class="sidebar-widget subscribe-widget">
                            <div class="sidebar-title"><h3>Donate</h3></div>
                            <a class="dbox-donation-button" href="https://donorbox.org/donate-to-the-urban-wild" style="background:#5cb85c url(https://d1iczxrky3cnb2.cloudfront.net/white_logo.png) no-repeat 37px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 15px 38px 15px 75px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; box-shadow: 0 1px 0 0 #408040; text-shadow: 0 1px rgba(0, 0, 0, 0.3);" >Donate</a>
                        </div>
                        
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->

{% endblock %}